@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import "../node_modules/nes.css/css/nes.css";

body {
  font-family: "Press Start 2P", cursive;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 480px;
  max-width: max-content;
}

.nes-btn-group {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 480px;
}

.btn-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
}

.nes-btn {
  width: 100%;
  max-width: 480px;
  padding: 8px;
  margin: 10px;
  /* text-decoration: none; */
}

.nes-btn a {
  color: inherit !important;
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .nes-btn {
    width: 90%;
    margin: 10px 0;
  }
}

@media (max-width: 500px) {
  .nes-btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 425px) {
  .btn-container {
    width: 95%;
  }
}

@media (max-width: 350px) {
  .nes-btn {
    padding: 5px;
    width: 100%;
  }
}
