@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Share+Tech+Mono&display=swap");

:root {
  --font-body: "Share Tech Mono", monospace;
  --font-headings: "Audiowide", cursive;
  --neon-pink: 341, 100%, 58%;
  --neon-blue: 184, 96%, 46%;
  --very-light-blue: 190, 100%, 91%;
  --dark-blue: 240, 95%, 9%;
  --yellow: 44, 97%, 72%;
  --border: hsl(var(--neon-blue)), hsl(var(--neon-pink)), hsl(var(--neon-blue));
  --padding-wrapper: 1.5em;
  --border-image: linear-gradient(-45deg, var(--border)) 10% stretch;
  --background-lines: linear-gradient(
      hsla(184, 96%, 46%, 0) 90%,
      hsla(184, 96%, 46%, 0.25) 95%
    )
    top left / 100% 0.5rem;
}

/* === GLOBAL STYLES === */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  background: hsl(var(--dark-blue)) var(--background-lines);
  color: hsl(var(--very-light-blue));
  font-family: var(--font-body);
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 0.7rem + 0.9vw, 4rem);
  line-height: 1.2;
  overflow-x: hidden;
  max-width: 112.5rem;
}

h1,
h2,
h3,
h4,
button {
  z-index: 2;
  position: relative;
  color: hsl(var(--yellow));
  font-family: var(--font-headings);
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2,
h3,
h4 {
  z-index: 3;
  position: relative;
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 1rem + 2vw, 3rem);
}

h3 {
  margin-top: 1em;
}

strong {
  color: hsl(var(--yellow));
}

li {
  list-style-type: none;
}

a {
  color: hsl(var(--neon-pink));
}

a:hover,
a:active {
  color: hsl(var(--very-light-blue));
  top: -0.03rem;
  left: -0.03rem;
  -webkit-filter: drop-shadow(0 0 0.2rem hsla(var(--neon-pink), 0.4))
    drop-shadow(0.5rem 0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(-0.5rem 0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(0.5rem -0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(-0.5rem -0.5rem 0.2rem hsla(var(--neon-pink), 0.6));
  filter: drop-shadow(0 0 0.2rem hsla(var(--neon-pink), 0.4))
    drop-shadow(0.5rem 0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(-0.5rem 0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(0.5rem -0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(-0.5rem -0.5rem 0.2rem hsla(var(--neon-pink), 0.6));
}

p:not(:first-child) {
  margin-top: 1.5em;
}

p:last-child {
  margin-bottom: 1.5em;
}

h1::before,
h2::before,
h3::before,
h4::before {
  z-index: -1;
  position: absolute;
  top: 0.2rem;
  left: -0.2rem;
  width: 100%;
  height: 100%;
  color: hsl(var(--neon-pink));
  opacity: 0.7;
  animation: glitch 0.3s linear infinite alternate-reverse;
}

h1::after,
h2::after,
h3::after,
h4::after {
  z-index: -1;
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  width: 100%;
  height: 100%;
  color: hsl(var(--neon-blue));
  opacity: 0.7;
  animation: glitch 0.3s 0.1s linear infinite alternate-reverse;
  -webkit-clip-path: polygon(3% 100%, 14% 28%, 67% 15%, 103% 67%);
  clip-path: polygon(3% 100%, 14% 28%, 67% 15%, 103% 67%);
}

.profile .container > a,
[class^="link"] {
  display: block;
  margin-top: 1em;
  border: 0.2rem solid hsl(var(--yellow));
  padding: 0.6em 1.2em;
  color: hsl(var(--neon-blue));
  text-decoration: none;
  text-align: center;
  font-size: 0.95em;
  max-width: 35ch;
  margin-left: auto;
  margin-right: auto;
}

.profile .container > a:hover,
[class^="link"]:hover {
  -webkit-transform: translate(-0.1rem, -0.1rem);
  transform: translate(-0.1rem, -0.1rem);
  -webkit-filter: none;
  filter: none;
  -webkit-box-shadow: 0px 0px 25px hsl(var(--yellow));
  box-shadow: 0px 0px 25px hsl(var(--yellow));
  border-color: hsl(var(--very-light-blue));
}

::-moz-selection {
  background-color: hsl(var(--yellow));
  color: hsl(var(--dark-blue));
}

::selection {
  background-color: hsl(var(--yellow));
  color: hsl(var(--dark-blue));
}

:focus {
  outline: 2px solid transparent;
}

:focus-visible {
  outline-color: hsl(var(--neon-pink));
  outline-offset: 2px;
}

/* === HEADER === */
header {
  width: 100%;
  border: 0.4rem solid hsl(var(--neon-blue));
  padding: 1.5em;
  background-color: hsl(var(--dark-blue));
  -o-border-image: var(--border-image);
  border-image: var(--border-image);
  text-align: center;
}

header h1 {
  max-width: 15ch;
  font-size: 1rem;
  font-size: clamp(3rem, 2.5rem + 2.5vw, 6rem);
  overflow: hidden;
  opacity: 0.9;
  max-width: 15ch;
}

header h1::before,
header h1::after {
  content: "N64 Emulator";
}

header h2 {
  margin-top: 0.5em;
  max-width: 25ch;
  color: hsl(var(--very-light-blue));
  font-size: 1.3rem;
  font-size: clamp(1.3rem, 1.3rem + 1.7vw, 4rem);
  font-family: var(--font-body);
  text-transform: none;
  line-height: 1;
}

/* === ANIMATIONS === */
@-webkit-keyframes flicker {
  50% {
    border-color: hsl(184, 96%, 46%, 0.5);
  }
}
@keyframes flicker {
  50% {
    border-color: hsl(184, 96%, 46%, 0.5);
  }
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-0.1rem, -0.1rem);
    transform: translate(-0.1rem, -0.1rem);
  }
  40% {
    -webkit-transform: translate(-0.1rem, -0.1rem);
    transform: translate(-0.1rem, -0.1rem);
  }
  60% {
    -webkit-transform: translate(0.1rem, 0.1rem);
    transform: translate(0.1rem, 0.1rem);
  }
  80% {
    -webkit-transform: translate(0.1rem, -0.1rem);
    transform: translate(0.1rem, -0.1rem);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-0.1rem, -0.1rem);
    transform: translate(-0.1rem, -0.1rem);
  }
  40% {
    -webkit-transform: translate(-0.1rem, -0.1rem);
    transform: translate(-0.1rem, -0.1rem);
  }
  60% {
    -webkit-transform: translate(0.1rem, 0.1rem);
    transform: translate(0.1rem, 0.1rem);
  }
  80% {
    -webkit-transform: translate(0.1rem, -0.1rem);
    transform: translate(0.1rem, -0.1rem);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes blockquote-animation {
  from {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
  }
}

@keyframes blockquote-animation {
  from {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
  }
}

/* button {
  max-width: 10.5rem;
  padding: 1em;
  background: hsl(var(--dark-blue)) var(--background-lines);
  color: hsl(var(--neon-pink));
  font-size: clamp(8.2rem, 0.7rem + 0.9vw, 4rem);
  line-height: 1.2;
  overflow-x: hidden;
  border-radius: 15px;
  /* border-style: dashed; */
/* color: fuchsia; */
/* color: hsla(var(--yellow), 0.9); */
/* font-style: var(--font-headings); */
/* font-family: "Audiowide", cursive; 
  
}*/
