* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 15px;
  color: aliceblue;
  background-color: rgba(27, 24, 24);
  border-color: aliceblue;
}

.container {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
}

button:hover {
  font-size: 22px;
  animation: forwards;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}

#bitcoin-btn {
  color: #ffffff;
  background-color: #f2a900;
  border-radius: 15px;
}

#bitcoin-btn:hover {
  color: #ffffffd0;
  background-color: #fca903;
  border-radius: 15px;
  opacity: -1rem;
}

#ethereum-btn {
  color: white;
  background-color: #497493;
  border-radius: 15px;
}
#tether-btn {
  color: white;
  background-color: #2ea07b;
  border-radius: 15px;
}

#bnb-btn {
  color: white;
  background-color: #edb70c;
  border-radius: 15px;
}

#usdc-btn {
  color: white;
  background-color: #2775ca;
  border-radius: 15px;
}

#matic-btn {
  color: white;
  background-color: blueviolet;
  border-radius: 15px;
}

#ripple-btn {
  color: white;
  background-color: #1b95ca;
  border-radius: 15px;
}

#binanceUSD-btn {
  color: white;
  background-color: #edb70c;
  border-radius: 15px;
}
#avax-btn {
  color: white;
  background-color: #e84142;
  border-radius: 15px;
}

#doge-btn {
  color: white;
  background-color: #bba033;
  border-radius: 15px;
}
#shiba-btn {
  color: white;
  background-color: #b43318;
  border-radius: 15px;
}

#solana-btn {
  color: white;
  background-color: #29deb9;
  border-radius: 15px;
}

#lido-btn {
  color: white;
  background-color: #7bccfb;
  border-radius: 15px;
}
#ada-btn {
  color: white;
  background-color: #21477c;
  border-radius: 15px;
}
#okb-btn {
  color: white;
  background-color: #000;
  border-radius: 15px;
}
#dot-btn {
  color: white;
  background-color: #de0076;
  border-radius: 15px;
}
#ltc-btn {
  color: white;
  background-color: #838383;
  border-radius: 15px;
}
#tron-btn {
  color: white;
  background-color: #8f2620;
  border-radius: 15px;
}

#dai-btn {
  color: white;
  background-color: #fcd27a;
  border-radius: 15px;
}
#uniswap-btn {
  color: white;
  background-color: #fd63ad;
  border-radius: 15px;
}
#cosmos-btn {
  color: white;
  background-color: #434661;
  border-radius: 15px;
}
#wbtc-btn {
  color: white;
  background-color: #f2b371;
  border-radius: 15px;
}
#link-btn {
  color: white;
  background-color: #2a5ad8;
  border-radius: 15px;
}
#ton-btn {
  color: white;
  background-color: #0088cc;
  border-radius: 15px;
}
