@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Henny+Penny&family=Press+Start+2P&family=Sedgwick+Ave+Display&family=Source+Code+Pro:wght@200&family=The+Girl+Next+Door&display=swap");

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 15px;
  color: aliceblue;
  background-color: rgb(27, 24, 24);
  border-color: aliceblue;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.button-container {
  text-align: center;
  margin: 0 auto;
  /* min-width: 400px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  align-items: center;
  font-weight: 900;
  justify-content: space-between;
}

.responseBox {
  margin: 1px;
}

.button-row {
  margin: 1px;

  /* 
  /Yeah, so this just messes everything up. Because this is the text responses box 
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  */
}

/* Lost my Hover glow effect, I have the glow effect in my Notion*/

button:hover {
  font-size: 23px;
  animation: forwards;
  margin: 1px;
  animation: ease-in-out;
  text-rendering: optimizeLegibility;
}

h1 {
  text-align: center;
  /* Might need to change the margin top to display evenly from top to bottom*/
  margin-top: 50px;
  align-items: center;

  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  color: #fff;
  text-shadow: 2px 0 rgb(255 0 0 / 90%), -2px 0 rgb(0 0 255 / 90%);
  font-weight: 900;
}

/* For SVG Icons for Crypto Buttons I Might need to change px to fit buttons */

img {
  width: 15px;
  height: 15px;
  /*padding: 0px 0px 0px 0px;*/
  margin-right: 5px;
  margin-left: -5px;
  outline-style: dotted;
}

/* Footer and Crypto Buttons below  */

.footer-body {
  padding: 0;
  margin: 0;
  min-height: auto;
  display: flex;
  align-items: flex-end;
}

.text-effect {
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  color: #fff;
  text-shadow: 2px 0 rgb(255 0 0 / 90%), -2px 0 rgb(0 0 255 / 90%);
}

footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}
footer * {
  font-family: "Source Code Pro", monospace;

  /* font-family: "soure", sans-serif; */
  font-weight: 900;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#discord,
#twitter,
#github,
#medium {
  /* margin-left: 110px;
  padding-left: 110px; */

  /* display: flex;
  justify-content: center;
  align-items: center; */

  font-size: 1em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 5px 10px;
  margin: 0 2px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#twitter {
  animation-delay: 0.3s;
}
#medium {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}

#discord {
  animation-delay: 0.5s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  /* align-items: stretch; */
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5em;
  min-height: 15em;
}

.footer-logo img {
  width: 150px; /* set the width of the image */
  height: auto; /* set the height to auto to maintain the aspect ratio */
  /* border-radius: 15px; */
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 15px;
  /* padding: 5px 10px;
  margin: 0 2px;  */
  animation: animate 5s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}

h3 {
  width: 100%;
  text-align: left;
  font-size: 1.4em;
  white-space: nowrap;

  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  color: #fff;
  text-shadow: 2px 0 rgb(255 0 0 / 90%), -2px 0 rgb(0 0 255 / 90%);
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
ul li a:hover {
  color: #2a8ded;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

.social {
  display: flex;
  justify-content: left;
  /* below changes the icon size (font-size)*/
  font-size: 2.4em;
  /* flex-direction: row; */
  margin-top: 0.5em;
}
.social i {
  color: #bac6d9;
}

.social-column > h3 {
  width: 100%;
  margin-bottom: 1.5em;
  text-align: left;
  color: rgb(255, 251, 251);
  font-size: 1.4em;
  white-space: nowrap;
}

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}
.footer-menu {
  float: left;
  margin-top: 10px;
}

.footer-menu a {
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover {
  color: #27bcda;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
}

#bitcoin-btn {
  background-color: #e5a308;
  border-radius: 15px;
}

#bitcoin-btn:hover {
  background-color: #fca903;
  border-radius: 15px;
}

#ethereum-btn {
  background-color: #497493;
  border-radius: 15px;
}
#tether-btn {
  background-color: #2ea07b;
  border-radius: 15px;
}

#bnb-btn {
  background-color: #edb70c;
  border-radius: 15px;
}

#usdc-btn {
  background-color: #2775ca;
  border-radius: 15px;
}

#matic-btn {
  background-color: blueviolet;
  border-radius: 15px;
}

#ripple-btn {
  background-color: #1b95ca;
  border-radius: 15px;
}

#binanceUSD-btn {
  background-color: #edb70c;
  border-radius: 15px;
}

#avax-btn {
  background-color: #e84142;
  border-radius: 15px;
}

#doge-btn {
  background-color: #bba033;
  border-radius: 15px;
}
#shiba-btn {
  background-color: #b43318;
  border-radius: 15px;
}

#solana-btn {
  background-color: #29deb9;
  border-radius: 15px;
}

#lido-btn {
  background-color: #7bccfb;
  border-radius: 15px;
}
#ada-btn {
  background-color: #21477c;
  border-radius: 15px;
}
#okb-btn {
  background-color: #000;
  border-radius: 15px;
}
#dot-btn {
  background-color: #de0076;
  border-radius: 15px;
}
#ltc-btn {
  background-color: #838383;
  border-radius: 15px;
}
#tron-btn {
  background-color: #8f2620;
  border-radius: 15px;
}

#dai-btn {
  background-color: #b89c61;
  border-radius: 15px;
}

#uniswap-btn {
  background-color: #fd63ad;
  border-radius: 15px;
}

#cosmos-btn {
  background-color: #434661;
  border-radius: 15px;
}
#wbtc-btn {
  background-color: #f2b371;
  border-radius: 15px;
}

#link-btn {
  background-color: #2a5ad8;
  border-radius: 15px;
}

#ton-btn {
  background-color: #0088cc;
  border-radius: 15px;
}

#leo-btn {
  background-color: #6c5733;
  border-radius: 15px;
}

#ethc-btn {
  background-color: #0b8311;
  border-radius: 15px;
}

#monero-btn {
  background-color: #f26822;
  border-radius: 15px;
}

#btccash-btn {
  background-color: #0fc290;
  border-radius: 15px;
}

#aptos-btn {
  background-color: #808080;
  border-radius: 15px;
}

#stellar-btn {
  background-color: #0c0c0c;
  border-radius: 15px;
}

#hbar-btn {
  background-color: #0c0c0c;
  border-radius: 15px;
}

#lidoDao-btn {
  background-color: #e9877f;
  border-radius: 15px;
}

#cronos-btn {
  background-color: #264c88;
  border-radius: 15px;
}

#quant-btn {
  background-color: #43403e;
  border-radius: 15px;
}
#filecoin-btn {
  background-color: #1096ff;
  border-radius: 15px;
}
#near-btn {
  background-color: #060606;
  border-radius: 15px;
}

#ape-btn {
  background-color: #1156e1;
  border-radius: 15px;
}

#algo-btn {
  background-color: #696e70;
  border-radius: 15px;
}

#vechain-btn {
  background-color: #8a8ada;
  border-radius: 15px;
}

#graph-btn {
  background-color: #6a55b3;
  border-radius: 15px;
}

#icp-btn {
  background-color: #763219;
  border-radius: 15px;
}

#fantom-btn {
  background-color: #1969ff;
  border-radius: 15px;
}

#flow-btn {
  background-color: #00ef8b;
  border-radius: 15px;
}

#sandbox-btn {
  background-color: #22a1c9;
  border-radius: 15px;
}

#elrond-btn {
  background-color: #20e4cc;
  border-radius: 15px;
}

#stacks-btn {
  background-color: #7d72ff;
  border-radius: 15px;
}

#eos-btn {
  background-color: #4b4b4b;
  border-radius: 15px;
}

#theta-btn {
  background-color: #2ab8e6;
  border-radius: 15px;
}

#mana-btn {
  background-color: #ff8759;
  border-radius: 15px;
}

#aave-btn {
  background-color: #ac559e;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .button-container {
    flex-direction: column;
  }

  button {
    flex: none;
    width: 100%;
  }

  .response-box {
    display: none;
  }

  button.active + .response-box {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .button-container {
    flex-direction: column;
  }

  button {
    flex: none;
    max-width: 100%;
  }

  .response-box {
    display: none;
  }

  button.active + .response-box {
    display: block;
  }
}

/*

I'll need to do something with my reponseBox, just not there yet

.responseBox {
  background-color: #0088cc !important;
}


/* CSS code to make the page responsive 
--when i minimize the page it doesn't look so good. I might need to delete the media queries

@media only screen and (max-width: 768px) {
   adjust the font size and spacing of the buttons for smaller screens 
  Button {
    font-size: 16px;
    padding: 5px 10px;
    max-width: calc(33.33% - 10px);
  }
}
*/

/* @media only screen and (max-width: 480px) {
  /* adjust the font size and spacing of the buttons for even smaller screens 
  Button {
    font-size: 14px;
    padding: 3px 6px;
    max-width: calc(50% - 10px);
  }
} */

/*------------This is all footer scraps*/
/* footer {
  width: auto;
  height: auto;

  display: flex;
  gap: 16px;
  flex-wrap: wrap-reverse;

  justify-content: space-between;
  margin: 25px;
  align-items: flex-start;
  background-color: navy;
}

.box-1 {
  background-color: #00ef8b;
}

.box-1 h5 {
  flex-grow: 1;
  float: left;
  box-sizing: border-box;
  background-color: #de0076;
  flex-basis: calc((100% - 33.33%) / 3);
}

.box-1 img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  float: left;
  image-rendering: url("/images/blogBytes.png");
  margin: 15px;
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  object-fit: contain;
} */

/* .box {
    height: 100px;
    flex-grow: 1;
    display: flex;
    align-items: center;
  } */

/* .box-1 {
    display: flex;

    background-color: red;
    flex-grow: 0;
    width: 33.33%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    margin-right: 10px;
    flex-basis: calc((100% - 33.33%) / 1);
  } */

/* .box-1 img {
    display: flex;
    flex-direction: row;
    grid-row-start: start;

    height: 25%;
    width: auto;
    margin: 0 0 -10em -6em;
    position: relative;
    justify-content: inline-start;
  }*/

/* h5 {
  display: flex;
  flex-direction: row;
  justify-content: inline-start;
  text-align: left;
} */

/* .box-2 {
  background-color: green;
  flex-basis: calc((100% - 33.33%) / 3);
}

.box-3 {
  background-color: blue;
  flex-basis: calc((100% - 33.33%) / 3);
} */
