/* CSS code to make the page responsive 
--when i minimize the page it doesn't look so good. I might need to delete the media queries
*/
@media only screen and (max-width: 768px) {
  /* adjust the font size and spacing of the buttons for smaller screens */
  Button {
    font-size: 16px;
    padding: 5px 10px;
    max-width: calc(33.33% - 10px);
  }
}

@media only screen and (max-width: 480px) {
  /* adjust the font size and spacing of the buttons for even smaller screens */
  Button {
    font-size: 14px;
    padding: 3px 6px;
    max-width: calc(50% - 10px);
  }
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 15px;
  color: aliceblue;
  background-color: rgba(27, 24, 24);
  border-color: aliceblue;
  text-rendering: optimizeLegibility;
  width: space-between;
}

.button-container {
  text-align: center;
  margin: 50px;

  align-content: space-between;
  justify-content: space-evenly;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  content: space-evenly;
  align-items: center;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

.responseBox {
  text-align: center;
  margin: 5px;
}

/* .button-row {
  margin: 1px;
} */

button:hover {
  font-size: 23px;
  animation: forwards;
  margin: 1px;
  animation: forwards;
  text-rendering: optimizeLegibility;
}

/* Hover glow effect*/
.glow {
  box-shadow: 0 0 10px #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #fff;
  }
  to {
    box-shadow: 0 0 10px #fff;
  }
}

h1 {
  text-align: center;
  /* Might need to change the margin top to display evenly from top to bottom*/
  margin-top: 50px;
  background-color: #0088cc;
}

/* For SVG Icons for Crypto Buttons Might need to change px to fit buttons */

img {
  width: 15px;
  height: 15px;
  /*padding: 0px 0px 0px 0px;*/
  margin-right: 5px;
  margin-left: -5px;
  outline-style: dotted;
}

#bitcoin-btn {
  background-color: #e5a308;
  border-radius: 15px;
}

#bitcoin-btn:hover {
  background-color: #fca903;
  border-radius: 15px;
}

#ethereum-btn {
  background-color: #497493;
  border-radius: 15px;
}
#tether-btn {
  background-color: #2ea07b;
  border-radius: 15px;
}

#bnb-btn {
  background-color: #edb70c;
  border-radius: 15px;
}

#usdc-btn {
  background-color: #2775ca;
  border-radius: 15px;
}

#matic-btn {
  background-color: blueviolet;
  border-radius: 15px;
}

#ripple-btn {
  background-color: #1b95ca;
  border-radius: 15px;
}

#binanceUSD-btn {
  background-color: #edb70c;
  border-radius: 15px;
}

#avax-btn {
  background-color: #e84142;
  border-radius: 15px;
}

#doge-btn {
  background-color: #bba033;
  border-radius: 15px;
}
#shiba-btn {
  background-color: #b43318;
  border-radius: 15px;
}

#solana-btn {
  background-color: #29deb9;
  border-radius: 15px;
}

#lido-btn {
  background-color: #7bccfb;
  border-radius: 15px;
}
#ada-btn {
  background-color: #21477c;
  border-radius: 15px;
}
#okb-btn {
  background-color: #000;
  border-radius: 15px;
}
#dot-btn {
  background-color: #de0076;
  border-radius: 15px;
}
#ltc-btn {
  background-color: #838383;
  border-radius: 15px;
}
#tron-btn {
  background-color: #8f2620;
  border-radius: 15px;
}

#dai-btn {
  background-color: #b89c61;
  border-radius: 15px;
}

#uniswap-btn {
  background-color: #fd63ad;
  border-radius: 15px;
}

#cosmos-btn {
  background-color: #434661;
  border-radius: 15px;
}
#wbtc-btn {
  background-color: #f2b371;
  border-radius: 15px;
}

#link-btn {
  background-color: #2a5ad8;
  border-radius: 15px;
}

#ton-btn {
  background-color: #0088cc;
  border-radius: 15px;
}

#leo-btn {
  background-color: #6c5733;
  border-radius: 15px;
}

#ethc-btn {
  background-color: #0b8311;
  border-radius: 15px;
}

#monero-btn {
  background-color: #f26822;
  border-radius: 15px;
}

#btccash-btn {
  background-color: #0fc290;
  border-radius: 15px;
}

#aptos-btn {
  background-color: #808080;
  border-radius: 15px;
}

#stellar-btn {
  background-color: #0c0c0c;
  border-radius: 15px;
}

#hbar-btn {
  background-color: #0c0c0c;
  border-radius: 15px;
}

#lidoDao-btn {
  background-color: #e9877f;
  border-radius: 15px;
}

#cronos-btn {
  background-color: #264c88;
  border-radius: 15px;
}

#quant-btn {
  background-color: #43403e;
  border-radius: 15px;
}
#filecoin-btn {
  background-color: #1096ff;
  border-radius: 15px;
}
#near-btn {
  background-color: #060606;
  border-radius: 15px;
}

#ape-btn {
  background-color: #1156e1;
  border-radius: 15px;
}

#algo-btn {
  background-color: #696e70;
  border-radius: 15px;
}

#vechain-btn {
  background-color: #8a8ada;
  border-radius: 15px;
}

#graph-btn {
  background-color: #6a55b3;
  border-radius: 15px;
}

#icp-btn {
  background-color: #763219;
  border-radius: 15px;
}

#fantom-btn {
  background-color: #1969ff;
  border-radius: 15px;
}

#flow-btn {
  background-color: #00ef8b;
  border-radius: 15px;
}

#sandbox-btn {
  background-color: #22a1c9;
  border-radius: 15px;
}

#elrond-btn {
  background-color: #20e4cc;
  border-radius: 15px;
}

#stacks-btn {
  background-color: #7d72ff;
  border-radius: 15px;
}

#eos-btn {
  background-color: #4b4b4b;
  border-radius: 15px;
}

#theta-btn {
  background-color: #2ab8e6;
  border-radius: 15px;
}

#mana-btn {
  background-color: #ff8759;
  border-radius: 15px;
}

#aave-btn {
  background-color: #ac559e;
  border-radius: 15px;
}

/*

I'll need to do something with my reponseBox, just not there yet

.responseBox {
  background-color: #0088cc !important;
}

*/
