:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

body {
  font-family: "Source Code Pro", monospace;
  background: #00a6ff51;

  color: #fff;
  background-size: 100% 100%;
}

.grid-container {
  display: grid;
  font-family: "Source Code Pro", monospace;
  background: #000000;
  color: #fff;
  padding: 40px;
  background-size: 100% 100%;
  grid-template-columns: minmax(100px, max-content);
  grid-auto-rows: minmax(75px, auto);
}

.socials,
a {
  color: #00ffdc;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.writingz,
a {
  color: #00ffdc;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  text-shadow: 1px 0 rgba(35, 35, 35, 0.9), -1px 0 rgba(0, 225, 255, 0.9);
}

p {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  color: #fff;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.header {
  grid-area: header;
  align-items: center;
}

.projects {
  grid-area: projects;
}

.writing {
  grid-area: writing;
  align-content: center;
}

.socialz {
  grid-area: socials;
  align-content: center;
}

.about-me,
a {
  text-decoration: none;
}

.about-me {
  grid-area: about-me;
  justify-content: center;
  align-content: center;
}

footer {
  grid-area: footer;
  color: #00ffdc;
  margin-left: 40%;
}

.projectz {
  align-content: center;
}
h1 {
  font-size: 60px;
  font-weight: 200;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
  text-indent: 12.5%;
}

h2 {
  font-size: 30px;
  font-weight: 100;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
  text-indent: 10%;
}

.electric {
  animation: flicker 1.5s linear infinite, color 1s linear infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

.electric2 {
  animation: flicker 4s linear infinite, color 1s linear infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 0, 9;
  }
  50% {
    opacity: 0.4;
  }
}

.electric3 {
  animation: flicker 2s linear infinite, color 1s linear infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 0.2;
  }
  75% {
    opacity: 1;
  }
}

.electric4 {
  animation: flicker 1s linear infinite, color 1s linear infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.4;
  }
}

.electric5 {
  animation: flicker 3s linear infinite, color 4s linear infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
}

@keyframes example {
  from {
    background-color: black;
  }
  to {
    background-color: #ff99ff;
  }
}

a {
  align-items: center;
  margin-left: 12.5%;
  opacity: 1;
  transition: opacity 230ms;
  transform: scale(1.1);
}

a:hover {
  color: #00ffdc;

  filter: blur(-2em);

  cursor: pointer;
  padding: 0.25em 1em;

  background-color: #ff99ff;
  border-radius: 30px;
  border-style: solid;
  animation-name: example;
  animation-duration: 4s;
  width: 80%;

  opacity: 0.8;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
}

.neon {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(10, 10, 10, 0.1)
  );
  box-shadow: 0 0 50px #ffffff;
  animation: neon 1s linear infinite;
}

@keyframes neon {
  from {
    box-shadow: 0 0 15px #00ffdc;
    background-position: 0% 50%;
  }
  to {
    box-shadow: 0 0 30px #ff99ff;
    background-position: 100% 50%;
  }
}

.cube {
  transform-style: preserve-3d; /* Make the child elements of the cube 3D as well */
  position: absolute; /* Position the cube */
  left: 75%; /* Center the cube horizontally */
  top: 107.5%; /* Center the cube vertically */
  animation: spin 10s linear infinite; /* Spin the cube continuously */
  width: 100px;
  height: 100px;
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotateX(0deg) rotateY(360deg); /* Rotate to 360 degrees */
  }
}

.cube__face {
  position: absolute; /* Position the faces of the cube */
  width: 100px;
  height: 100px;
  border: 2px solid #fff; /* Add a border to the faces */
  font-weight: bolder;
  display: flex;
  align-items: center; /* align text to the center vertically */
  text-align: center; /* align text to the center horizontally */
  justify-content: center; /* align text to the center horizontally */

  font-weight: 500px;

  font-family: "Source Code Pro", monospace;

  color: #3e84ed;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  text-shadow: 2px 0 rgba(35, 35, 35, 0.9), -2px 0 rgba(0, 225, 255, 0.9);
}

/* Use vaporwave colors for the faces of the cube */
.cube__face--front {
  transform: rotateY(0deg) translateZ(50px); /* Rotate the front face */
  background-color: #7a22aa; /* Pink */
  font-size: 12px;
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(50px); /* Rotate the back face */
  background-color: #00a6ff51; /* Blue */
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(50px); /* Rotate the left face */
  background-color: #ffffff; /* Yellow */
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(50px); /* Rotate the right face */
  background-color: #00ffdc; /* Light blue */
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(50px); /* Rotate the top face */
  background-color: #cbf0f8; /* Light blue */
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(50px); /* Rotate the bottom face */
  background-color: #ffcccb; /* Pink */
}
