:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

body {
  font-family: "Source Code Pro", monospace;
  background: #38393f;

  color: #fff;
  padding: 40px;
  background-size: 100% 100%;
}

.grid-container {
  display: grid;
  font-family: "Source Code Pro", monospace;
  background: #000000;
  color: #fff;
  padding: 40px;
  background-size: 100% 100%;
  grid-template-columns: minmax(100px, max-content);
  grid-auto-rows: minmax(75px, auto);
}

.socials,
a {
  color: #00ffdc;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 12.5%;
  align-items: center;
  justify-content: center;
}

a {
  align-items: center;
  margin-left: 12.5%;
}

.writingz,
a {
  color: #00ffdc;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  color: #fff;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "projects"
    "writing"
    "socials"
    "about-me"
    "footer";
}

.header {
  grid-area: header;
  align-items: center;
}

.projects {
  grid-area: projects;
}

.writing {
  grid-area: writing;
  align-content: center;
}

.socialz {
  grid-area: socials;
  align-content: center;
}

.about-me {
  grid-area: about-me;
  justify-content: center;
  align-content: center;
}

.footer {
  grid-area: footer;
  color: #00ffdc;
}

h1 {
  font-size: 60px;
  font-weight: 200;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
  text-indent: 10%;
}

h2 {
  font-size: 30px;
  font-weight: 100;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
  text-indent: 10%;
}

@keyframes example {
  from {
    background-color: black;
  }
  to {
    background-color: hotpink;
  }
}

a:hover {
  color: #00ffdc;

  font-size: 30px;

  filter: blur(-2em);
  opacity: 0.7;

  cursor: pointer;
  padding: 0.25em 1em;

  background-color: hotpink;
  animation-name: example;
  animation-duration: 4s;
  width: 80%;
}

/** hr {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-width: 2.5px;
  width: 80%;
  border-color: #ffffff;
  border-radius: 5px;
  height: 5px;
  color: #ff99ff;




  hr.row1 {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2.5px;
  width: 100%;
  border-color: #ffffff;
  border-radius: 5px;
  color: #ff99ff;
}


hr.row2 {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-width: 2.5px;
  width: 80%;
  border-color: #ffffff;
  border-radius: 5px;
  color: #ff99ff;
}

*/
