body {
  font-family: "Source Code Pro", monospace;
  background: #38393f;
  color: #fff;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
  padding: 40px;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  font-family: "Source Code Pro", monospace;
  background: #000000;
  color: #fff;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
  padding: 40px;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;

  grid-template-columns: 200px, 250px;
  grid-auto-rows: minmax(75px, auto);
}

h1 {
  font-size: 60px;
  font-weight: 200;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
}

h2 {
  font-size: 30px;
  font-weight: 100;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
  text-indent: 10%;
}

hr {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-width: 2.5px;
  width: 80%;
  border-color: #ffffff;
  border-radius: 5px;
}

hr.hrh1 {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2.5px;
  width: 100%;
  border-color: #ffffff;
  border-radius: 5px;
  color: #ff99ff;
}

#socials,
a {
  color: #00ffdc;
  font-size: 20px;
  font-weight: 50;
  position: auto;
  margin-left: 12.5%;
}

#socials {
  color: #00ffdc;
  font-size: 20px;
  font-weight: 50;
  margin-left: 12.5%;

  position: auto;
}

a:hover {
  color: #ffffff;
  /* Below are how to center the links in the footer */
  margin: 0;
  padding: 5px;
  font-size: 30px;
  font-weight: 50;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
}

p {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 50;
  font-family: "Source Code Pro", monospace;
  color: #9df7e5;
}

#mission {
  margin-left: 10%;
  margin-right: 10%;
  color: #9df7e5;
}
