@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.link-codepen {
  border-style: solid;
  border-width: 4px;
}

.link-codepen {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  /* cursor: url(get-file-as-data-uri("../assets/cursor-click.png")) 14 0, pointer; */
  --webkit-user-select: none;
  --moz-user-select: none;
  --ms-user-select: none;
  user-select: none;
  color: #212529;
  background-color: #fff;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (-webkit-min-device-pixel-ratio: 0),
  all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .link-codepen {
    border-image-repeat: space;
  }
}

@supports (-moz-appearance: meterbar) {
  .link-codepen {
    border-image-repeat: stretch;
  }
}

.link-codepen::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  -webkit-box-shadow: inset -4px -4px #adafbc;
  box-shadow: inset -4px -4px #adafbc;
}

.link-codepen:hover {
  color: #212529;
  text-decoration: none;
  background-color: #e7e7e7;
}

.link-codepen:hover::after {
  --webkit-box-shadow: inset -6px -6px #adafbc;
  box-shadow: inset -6px -6px #adafbc;
}

.link-codepen:focus {
  -webkit-box-shadow: 0 0 0 6px rgba(173, 175, 188, 0.3);
  box-shadow: 0 0 0 6px rgba(173, 175, 188, 0.3);
}

.link-codepen:active:not(.is-disabled)::after {
  --webkit-box-shadow: inset 4px 4px #adafbc;
  box-shadow: inset 4px 4px #adafbc;
}

.link-codepen:focus {
  outline: 0;
}

.link-codepen {
  color: #212529;
  background-color: #f7d51d;
}

.link-codepen::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  --webkit-box-shadow: inset -4px -4px #e59400;
  box-shadow: inset -4px -4px #e59400;
}

.link-codepen:hover {
  color: #212529;
  text-decoration: none;
  background-color: #f2c409;
}

.link-codepen:hover::after {
  --webkit-box-shadow: inset -6px -6px #e59400;
  box-shadow: inset -6px -6px #e59400;
}

.link-codepen:focus {
  --webkit-box-shadow: 0 0 0 6px rgba(229, 148, 0, 0.3);
  box-shadow: 0 0 0 6px rgba(229, 148, 0, 0.3);
}

.link-codepen:active:not(.is-disabled)::after {
  --webkit-box-shadow: inset 4px 4px #e59400;
  box-shadow: inset 4px 4px #e59400;
}

html {
  font-family: "VT323", monospace;
  font-size: clamp(20px, 2.5vw, 30px);
  vertical-align: middle;
}

h1,
h3,
h5 {
  font-family: "Press Start 2P", cursive;
  line-height: 1.5em;
  overflow-wrap: anywhere;
}

h1,
h3,
h5 {
  text-align: center;
  /* margin-left: 10px;
  margin-right: -10px; */
}

h3,
h5 {
  text-align: center;
  margin-top: 0.5em;
  color: #e04f36;
}

h5 {
  text-align: center;
  margin-top: 0.5em;
  background-blend-mode: darken;
}

@-webkit-keyframes flip {
  0% {
    --webkit-transform: scale(4) rotateY(0deg);
    transform: scale(4) rotateY(0deg);
  }
  50% {
    --webkit-transform: scale(4) rotateY(180deg);
    transform: scale(4) rotateY(180deg);
  }
  100% {
    --webkit-transform: scale(4) rotateY(0deg);
    transform: scale(4) rotateY(0deg);
  }
}

@keyframes flip {
  0% {
    --webkit-transform: scale(4) rotateY(0deg);
    transform: scale(4) rotateY(0deg);
  }
  50% {
    --webkit-transform: scale(4) rotateY(180deg);
    transform: scale(4) rotateY(180deg);
  }
  100% {
    --webkit-transform: scale(4) rotateY(0deg);
    transform: scale(4) rotateY(0deg);
  }
}

h1 {
  position: relative;
}

h1::before {
  left: 15px;
}

h1::after {
  right: 25px;
}

h1::before,
h1::after {
  --webkit-transition: 0.6s;
  transition: 0.6s;
  --webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  --webkit-transform-origin: 9px;
  transform-origin: 9px;
  --webkit-animation: flip 2s ease-in-out infinite;
  animation: flip 2s ease-in-out infinite;
  content: "";
  display: block;
  position: absolute;
  top: 0.2em;
  width: 1px;
  height: 1px;
  color: #ffc107;
  --webkit-box-shadow: 6px 1px #060606, 7px 1px #060606, 8px 1px #060606,
    9px 1px #060606, 10px 1px #060606, 11px 1px #060606, 4px 2px #060606,
    5px 2px #060606, 6px 2px #060606, 7px 2px #fff, 8px 2px #fff, 9px 2px #fff,
    10px 2px #060606, 11px 2px #060606, 12px 2px #060606, 13px 2px #060606,
    3px 3px #060606, 4px 3px #060606, 5px 3px #fff, 6px 3px #fff, 7px 3px,
    8px 3px, 9px 3px, 10px 3px, 11px 3px, 12px 3px #060606, 13px 3px #060606,
    3px 4px #060606, 4px 4px #fff, 5px 4px, 6px 4px, 7px 4px #fff, 8px 4px #fff,
    9px 4px #fff, 10px 4px #060606, 11px 4px, 12px 4px, 13px 4px #060606,
    14px 4px #060606, 2px 5px #060606, 3px 5px #060606, 4px 5px #fff, 5px 5px,
    6px 5px, 7px 5px #fff, 8px 5px, 9px 5px, 10px 5px #060606, 11px 5px,
    12px 5px, 13px 5px #060606, 14px 5px #060606, 2px 6px #060606, 3px 6px #fff,
    4px 6px, 5px 6px, 6px 6px, 7px 6px #fff, 8px 6px, 9px 6px, 10px 6px #060606,
    11px 6px, 12px 6px, 13px 6px, 14px 6px #060606, 15px 6px #060606,
    2px 7px #060606, 3px 7px #fff, 4px 7px, 5px 7px, 6px 7px, 7px 7px #fff,
    8px 7px, 9px 7px, 10px 7px #060606, 11px 7px, 12px 7px, 13px 7px,
    14px 7px #060606, 15px 7px #060606, 2px 8px #060606, 3px 8px #fff, 4px 8px,
    5px 8px, 6px 8px, 7px 8px #fff, 8px 8px, 9px 8px, 10px 8px #060606, 11px 8px,
    12px 8px, 13px 8px, 14px 8px #060606, 15px 8px #060606, 2px 9px #060606,
    3px 9px #fff, 4px 9px, 5px 9px, 6px 9px, 7px 9px #fff, 8px 9px, 9px 9px,
    10px 9px #060606, 11px 9px, 12px 9px, 13px 9px, 14px 9px #060606,
    15px 9px #060606, 2px 10px #060606, 3px 10px #fff, 4px 10px, 5px 10px,
    6px 10px, 7px 10px #fff, 8px 10px, 9px 10px, 10px 10px #060606, 11px 10px,
    12px 10px, 13px 10px, 14px 10px #060606, 15px 10px #060606, 2px 11px #060606,
    3px 11px #fff, 4px 11px, 5px 11px, 6px 11px, 7px 11px #fff, 8px 11px,
    9px 11px, 10px 11px #060606, 11px 11px, 12px 11px, 13px 11px,
    14px 11px #060606, 15px 11px #060606, 2px 12px #060606, 3px 12px #060606,
    4px 12px #fff, 5px 12px, 6px 12px, 7px 12px #fff, 8px 12px, 9px 12px,
    10px 12px #060606, 11px 12px, 12px 12px, 13px 12px #060606,
    14px 12px #060606, 3px 13px #060606, 4px 13px #fff, 5px 13px, 6px 13px,
    7px 13px #fff, 8px 13px #060606, 9px 13px #060606, 10px 13px #060606,
    11px 13px, 12px 13px, 13px 13px #060606, 14px 13px #060606, 3px 14px #060606,
    4px 14px #060606, 5px 14px #fff, 6px 14px, 7px 14px, 8px 14px, 9px 14px,
    10px 14px, 11px 14px, 12px 14px #060606, 13px 14px #060606, 4px 15px #060606,
    5px 15px #060606, 6px 15px #060606, 7px 15px, 8px 15px, 9px 15px,
    10px 15px #060606, 11px 15px #060606, 12px 15px #060606, 13px 15px #060606,
    6px 16px #060606, 7px 16px #060606, 8px 16px #060606, 9px 16px #060606,
    10px 16px #060606, 11px 16px #060606;
  box-shadow: 6px 1px #060606, 7px 1px #060606, 8px 1px #060606, 9px 1px #060606,
    10px 1px #060606, 11px 1px #060606, 4px 2px #060606, 5px 2px #060606,
    6px 2px #060606, 7px 2px #fff, 8px 2px #fff, 9px 2px #fff, 10px 2px #060606,
    11px 2px #060606, 12px 2px #060606, 13px 2px #060606, 3px 3px #060606,
    4px 3px #060606, 5px 3px #fff, 6px 3px #fff, 7px 3px, 8px 3px, 9px 3px,
    10px 3px, 11px 3px, 12px 3px #060606, 13px 3px #060606, 3px 4px #060606,
    4px 4px #fff, 5px 4px, 6px 4px, 7px 4px #fff, 8px 4px #fff, 9px 4px #fff,
    10px 4px #060606, 11px 4px, 12px 4px, 13px 4px #060606, 14px 4px #060606,
    2px 5px #060606, 3px 5px #060606, 4px 5px #fff, 5px 5px, 6px 5px,
    7px 5px #fff, 8px 5px, 9px 5px, 10px 5px #060606, 11px 5px, 12px 5px,
    13px 5px #060606, 14px 5px #060606, 2px 6px #060606, 3px 6px #fff, 4px 6px,
    5px 6px, 6px 6px, 7px 6px #fff, 8px 6px, 9px 6px, 10px 6px #060606, 11px 6px,
    12px 6px, 13px 6px, 14px 6px #060606, 15px 6px #060606, 2px 7px #060606,
    3px 7px #fff, 4px 7px, 5px 7px, 6px 7px, 7px 7px #fff, 8px 7px, 9px 7px,
    10px 7px #060606, 11px 7px, 12px 7px, 13px 7px, 14px 7px #060606,
    15px 7px #060606, 2px 8px #060606, 3px 8px #fff, 4px 8px, 5px 8px, 6px 8px,
    7px 8px #fff, 8px 8px, 9px 8px, 10px 8px #060606, 11px 8px, 12px 8px,
    13px 8px, 14px 8px #060606, 15px 8px #060606, 2px 9px #060606, 3px 9px #fff,
    4px 9px, 5px 9px, 6px 9px, 7px 9px #fff, 8px 9px, 9px 9px, 10px 9px #060606,
    11px 9px, 12px 9px, 13px 9px, 14px 9px #060606, 15px 9px #060606,
    2px 10px #060606, 3px 10px #fff, 4px 10px, 5px 10px, 6px 10px, 7px 10px #fff,
    8px 10px, 9px 10px, 10px 10px #060606, 11px 10px, 12px 10px, 13px 10px,
    14px 10px #060606, 15px 10px #060606, 2px 11px #060606, 3px 11px #fff,
    4px 11px, 5px 11px, 6px 11px, 7px 11px #fff, 8px 11px, 9px 11px,
    10px 11px #060606, 11px 11px, 12px 11px, 13px 11px, 14px 11px #060606,
    15px 11px #060606, 2px 12px #060606, 3px 12px #060606, 4px 12px #fff,
    5px 12px, 6px 12px, 7px 12px #fff, 8px 12px, 9px 12px, 10px 12px #060606,
    11px 12px, 12px 12px, 13px 12px #060606, 14px 12px #060606, 3px 13px #060606,
    4px 13px #fff, 5px 13px, 6px 13px, 7px 13px #fff, 8px 13px #060606,
    9px 13px #060606, 10px 13px #060606, 11px 13px, 12px 13px, 13px 13px #060606,
    14px 13px #060606, 3px 14px #060606, 4px 14px #060606, 5px 14px #fff,
    6px 14px, 7px 14px, 8px 14px, 9px 14px, 10px 14px, 11px 14px,
    12px 14px #060606, 13px 14px #060606, 4px 15px #060606, 5px 15px #060606,
    6px 15px #060606, 7px 15px, 8px 15px, 9px 15px, 10px 15px #060606,
    11px 15px #060606, 12px 15px #060606, 13px 15px #060606, 6px 16px #060606,
    7px 16px #060606, 8px 16px #060606, 9px 16px #060606, 10px 16px #060606,
    11px 16px #060606;
}

@media (prefers-reduced-motion) {
  h1::before,
  h1::after {
    --webkit-animation: none;
    animation: none;
    --webkit-transform: scale(4);
    transform: scale(4);
  }
}

@media (max-width: 600px) {
  h1::before,
  h1::after {
    /* display: flex; */
    /* margin: -5%; */
    top: 0.5em;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --webkit-box-orient: vertical;
  --webkit-box-direction: normal;
  --ms-flex-direction: column;
  flex-direction: column;
  --webkit-box-align: center;
  --ms-flex-align: center;
  align-items: center;
}

body {
  max-width: 1200px;
  padding: 0 1rem;
  margin-bottom: 2em;
}

* {
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#files .container {
  display: grid;
  grid-template-rows: repeat(1, 3fr);
  grid-gap: 1rem;
}

@media (max-width: 600px) {
  #files .container {
    grid-template-columns: 1fr;
  }
}

#files .container {
  grid-column: 1 / 3fr;
  grid-row: 1;
}

@media (max-width: 600px) {
  #files .container h3 {
    grid-column: unset;
  }
}

#files .container a {
  grid-row: 2, 3;
}

@media (max-width: 600px) {
  #files .container a {
    grid-row: unset;
  }
}

.link-codepen {
  margin: 0;
  --webkit-transition: --webkit-transform;
  transition: --webkit-transform;
  transition: transform;
  transition: transform, --webkit-transform;
}

.link-codepen:hover {
  --webkit-transform: scale(0.98);
  transform: scale(0.98);
}

a,
button {
  text-decoration: none;
  color: red;
  font-size: 20px;
  font-weight: 900;
  font-family: "Press Start 2P", cursive;
}

a:focus,
a:hover {
  background-image: --webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff2400),
    color-stop(#a17607),
    color-stop(#11ac2b),
    color-stop(#11a4ac),
    color-stop(#4f77e6),
    to(#dd00f3)
  );
  background-image: linear-gradient(
    90deg,
    #ff2400,
    #a17607,
    #11ac2b,
    #11a4ac,
    #4f77e6,
    #dd00f3
  );
  background-size: 1800% 1800%;
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
  --webkit-animation: rainbow 5s linear;
  animation: rainbow 5s linear;
}

@media (prefers-reduced-motion) {
  a:focus,
  a:hover {
    --webkit-animation: none;
    animation: none;
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.neons {
  margin-top: 1rem;
  text-align: center;
}

.neons h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    color: #131313;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2,
      0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2,
      0 0 90px #00fff2;
  }
  to {
    color: rgba(0, 0, 0, 0.799);
    text-shadow: 0 0 20px #2bceeb, 0 0 30px #00fff2, 0 0 40px #00fff2,
      0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2,
      0 1 90px #00fff2;
  }
}

/*
* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Graphics copyright of Gonçalo Morais
* 
* Title: Pilgrim
* Author: Gonçalo Morais
* Website: https://blog.gnclmorais.com
* Twitter: @gnclmorais
*
* View on Style Stage:
* @link https://stylestage.dev/styles/pilgrim/
*/

/**
 * Auto-generated, built with SCSS.
 * Heavily inspired by Scott Pilgrim and
 * https://nostalgic-css.github.io/NES.css
*/
